<div class="Feed-card">
  <div class="Feed-card-header">
    <div class = "feed-card-user-description">
      <%= link_to user_path(user) do %>
          <%= cl_image_tag user.avatar.key, class: "Feed-card-user-image"%>
          <a class="Feed-card-user-name"> <%= user.username %> </a>
      <% end %>
    </div>
    <div class="Feed-card-location">
      <i class="fa-solid fa-location-dot"></i>
        <strong><%= user.trips.last.moments.last.nearest_city %></strong>
    </div>
  </div>
  <%= cl_image_tag user.trips.last.moments.last.photo.key, class: "Feed-card-location-image"%>
</div>
