<ul class="navbar-buttons">
	<li> <%= link_to root_path do %>
    <button class="Feed">
      <i class="fa-solid fa-house"></i>
      <br>
      <span>Feed</span>
    </button>
    <% end %>
  </li>

  <li> <%= link_to map_path do %>
    <button class="Around">
        <i class="fa-solid fa-location-dot"></i>
        <br>
        <span>Around</span>
    </button>
    <% end %>
  </li>

  <li> <%= link_to "#" do %>
      <button class="Pic_of_day">

          <br>
          <span>Pic of the Day</span>
      </button>
    <% end %>
  </li>

  <li> <%= link_to "#" do %>
      <button class="Chats">
          <i class="fa-solid fa-comments"></i>
          <br>
          <span>Chats</span>
      </button>
    <% end %>
  </li>

<% if user %>
  <li> <%= link_to user_path(user) do %>
    <button class="Profile">
        <i class="fa-solid fa-user"></i>
        <br>
        <span>Profile</span>
    </button>
    <% end %>
  </li>
  <% end %>
  
</ul>
