<div class="chatroom-index">
  <% @chatrooms.each do |chatroom| %>
  <div>
    <%= cl_image_tag chatroom.user_two.avatar.key, height: 30, width: 30, alt: "avatar", class:"avatar avatar-bordered" %>
  </div>
  <% end %>
</div>

<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1>Chat with <%= @chatroom.user_two.username %></h1>
  <div class="messages"  data-chatroom-subscription-target="messages">
    <% if @chatroom.messages.any? %>
        <div id="message-<%= @message.id %>">
      <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<%= simple_form_for [@chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>


<%= render "components/chatroom_simple" %>
