<div class= "chatroom-banner">
  <%= cl_image_tag @chatroom.user_two == current_user ? @chatroom.user_one.avatar.key : @chatroom.user_two.avatar.key, height: 30, width: 30, alt: "avatar", class:"avatar-bordered" %>
  <h3><%= @other_user.username %></h3>
</div>
<div class="container-chatroom-page">
 <div class="container-chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="messages" data-chatroom-subscription-target="messages">
      <% if @chatroom.messages.any? %>
          <div id="message-<%= @message.id %>">
        <% @chatroom.messages.each do |message| %>
          <div class= "message-row d-flex <%= message.sender?(current_user) ? 'my-message justify-content-end' : 'other-message justify-content-start'%>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class ="message-form">
  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "send", class:"btn btn-dark mb-3"%>
  <% end %>
</div>
  </div>


</div>
