<h2><%= @user.username %></h2>
<p><%= @user.avatar %></p>
<p><%= @user.description %></p>
<p><%= @user.location %></p>

<%= @user.trips.each do |trip|%>
  <p><%= trip.photo %></p>
  <p><%= trip.name %></p>
<% end %>

<%= link_to "End the trip", trip_path %>

<%= @user.moments.each do |moment| %>
  <p><%= moment.location %></p>
  <p><%= moment.date %></p>
  <p><%= moment.photo %></p>
<% end %>
