<div class='container-stef' data-controller="components">
<%= simple_form_for [@trip, @step], url: trip_steps_path do |f| %>
  <%= f.input :name, input_html: { style:'background: none' } %>
  <%= f.input :description, input_html: { style:'background: none' } %>
  <p>Location: </p>
  <%= f.input :location, as: :boolean, label: "Take my current position", input_html: { data: { action: "change->components#momentform"} }%>
  <p>or</p>
  <%= f.input :location, label: "Enter address manualy", input_html: { style:'background: white', data: { components_target: "location"} }  %>
  <%= f.button :submit, class: "btn btn-secondary"  %>
<% end %>
</div>
