<div class='container-stef'>
<%= simple_form_for [@trip, @step], url: trip_steps_path do |f| %>
  <%= f.input :name, input_html: { style:'background: none' } %>
  <%= f.input :description, input_html: { style:'background: none' } %>
  <%= f.input :location, input_html: { style:'background: none' } %>
  <%= f.button :submit, class: "btn btn-secondary"  %>
<% end %>
</div>
