<div data-controller="components" class='container-stef'>
  <%= simple_form_for moment, url: moments_path, method: :post do |f| %>
    <%= f.input :description, input_html: { style:'background: white' } %>
    <p>Location: </p>
    <%= f.input :location, as: :boolean, label: "Take my current position", input_html: { data: { action: "change->components#momentform"} }%>
    <p>or</p>
    <%= f.input :location, label: "Enter address manualy", input_html: { style:'background: white', data: { components_target: "location"} }  %>
    <%= f.input :photo, as: :file, accept:"image/*capture=camera" %>
    <%= f.button :submit, class: "btn btn-dark" %>
  <% end %>
</div>
