<%= simple_form_for [@trip, @moment], url: trip_moments_path do |f| %>
  <div data-controller="components">
  <%= f.input :description, input_html: { style:'background: none' } %>
  <%= f.input :location, as: :boolean, name: "Take my current position", input_html: { data: { action: "change->components#momentform"} }%>
  <%= f.input :location, input_html: { style:'background: none', data: { components_target: "location"} }  %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-secondary" %>
  </div>
<% end %>
